name: Deploy Backend Swagger to GitHub Pages

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: |
          cd backend
          npm install

      - name: Clean old docs
        run: |
          if [ -d backend/../docs ]; then
            rm -rf backend/../docs
            echo "Old docs folder deleted."
          fi

      - name: Generate Swagger docs
        run: |
          cd backend
          node generate-swagger-doc.js

      - name: Deploy Swagger Docs to GitHub Pages
        uses: peaceiris/actions-gh-pages@v5
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          publish_branch: gh-pages
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          commit_message: "Auto-deploy Swagger docs [skip ci]"
